@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hidden {
  scrollbar-width: none;
}

.shadow-spread-max {
  box-shadow: 100px 100px 300px black;
}

.boxer-shadow {
  box-shadow: 10px 10px rgb(255, 162, 162);
}